@import 'src/assets/styles/colors';
@import 'src/assets/styles/variables';

.footer {
  width: 100%;
  height: 141px;
  line-height: 141px;
  text-align: center;
  color: $gray-4;
  margin: 0 auto;
}
